*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: white;
}

/* Navbar */

nav {
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  padding-left: 25px;
}

.navList {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.navList a.active {
  color: #558240 !important;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 550;
}

nav ul li a:hover {
  color: #558240;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 2px solid #558240;
}

.logo img {
  height: 60px;
}

.myBio {
  color: rgba(255, 255, 255, 0.701);
  padding-top: 25px;
}

/* Navbar */

/* body */

/* Jumbotron */

.jumbotron {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
}

.data h1 {
  line-height: 55px;
}

.data h2 {
  padding-top: 5px;
  font-weight: 300 !important;
  font-size: 15px;
  font-style: italic;
}

.jumbotron-p {
  padding-bottom: 40px;
  padding-top: 40px;
  line-height: 20px;
  font-weight: 450;
  font-size: 20px;
}

.data {
  padding-right: 120px;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.hello {
  color: #558240;
}

/* Jumbotron */

/* Profil Diri */

.profil {
  display: flex;
  justify-content: space-between;
}

.julio1 {
  width: 25%;
  height: 425px;
}

.julio1 img {
  width: 360px;
}

.julio2 {
  display: flex;
  height: 425px;
  width: 23.3%;
}

.julio2 img {
  object-fit: cover;
  width: 353px;
}

.aboutMe h1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.hai h2 {
  display: flex;
  margin-top: 40px;
  padding-left: 100px;
}

.background {
  justify-content: center;
  text-align: justify;
  margin-top: 5px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 120%;
}

.tempat {
  text-align: right;
  margin-top: 80px;
  padding-right: 100px;
}

.tanggal {
  text-align: right;
  margin-top: 5px;
  padding-right: 100px;
}

/* Profil Diri */

/* Container */

.edu-container {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 40px;
}

/* Container */

/* Education */
.edu-tittle {
  text-decoration: overline;
  background-color: #1e1e1e;
  display: flex;
  color: #ffffff;
  justify-content: center;
  padding-top: 40px;
}

.kuliah {
  display: flex;
}

.unsri {
  max-width: 150px;
}

.detail-kuliah {
  padding-top: 35px;
}

.detail-kuliah p {
  color: white;
}

.tahun {
  font-weight: bold !important;
  color: #558240 !important;
}

.sekolah {
  font-weight: 600 !important;
}

.sma {
  display: flex;
  gap: 10px;
}

.detail-sma {
  padding-top: 35px;
}

.sma p {
  text-align: left;
  color: white;
  font-size: 100%;
  font-weight: 300;
}

.sma img {
  max-width: 130px;
  max-height: 150px;
  padding-top: 10px;
  padding-bottom: 15px;
}
/* Education */

/* Achivments */

.container-achivements {
  display: flex;
  gap: 40px;
  padding-left: 5px;
  justify-content: center;
  background-color: #1e1e1e;
}

.achiv-tittle {
  background-color: #1e1e1e;
  display: flex;
  color: #ffffff;
  justify-content: center;
  padding-top: 20px;
}

.first {
  display: flex;
  width: 400px;
  padding-top: 30px;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
}

.first img {
  padding-bottom: 10px;
  width: 118px;

  border-radius: 15px;
}

.juara1 {
  text-align: justify;
}

.third {
  display: flex;
  padding-top: 30px;
  width: 400px;
  padding-left: 12px;
  gap: 10px;
  color: #ffffff;
}

.third img {
  width: 127px;
  height: 115px;
  border-radius: 70px;
}

.juara3 {
  text-align: justify;
}

.rank {
  color: #558240;
}

/* Achivments */

/* Work Experiences */
.work-tittle {
  background-color: #1e1e1e;
  display: flex;
  color: #ffffff;
  justify-content: center;
  padding-top: 40px;
}

.work-container {
  background-color: #1e1e1e;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 40px;
}

.maju-ind {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
}

.work-position p {
  color: white;
}

.office {
  font-weight: bold !important;
  color: #558240 !important;
}

.job-pos {
  font-weight: 600 !important;
}

.lg-mi img {
  max-width: 200px;
  max-height: 100px;
}

.work-detail {
  text-align: justify;
  padding-left: 35px;
  color: #ffffff;
  width: 450px;
}

.timah {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  gap: 20px;
}

.lg-timah img {
  max-width: 200px;
  max-height: 100px;
}

.work-position-timah p {
  padding-right: 15px;
  color: white;
}

.work-detail-timah {
  text-align: justify;
  padding-left: 35px;
  color: #ffffff;
  width: 450px;
}
/* Work Experiences */

/* Bootcamp */

.boot-tittle {
  background-color: white;
  display: flex;
  color: #1e1e1e;
  text-decoration: overline;
  justify-content: center;
  padding-top: 40px;
}

.boot-container {
  background-color: white;
  padding-top: 10px;
  padding-right: 120px;
  padding-bottom: 40px;
}

.hacktiv {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 40px;
  padding-left: 184px;
}

.bootcamp p {
  color: #1e1e1e;
}

.boot-name {
  font-weight: bold !important;
}

.bootcamp img {
  max-width: 300px;
  max-height: 100px;
}

.boot-detail {
  text-align: justify;
  padding-left: 19px;
  color: #1e1e1e;
  width: 450px;
}

.zenius {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 32px;
  padding-left: 181px;
}

.bootcamp-zenius img {
  max-width: 168px;
  max-height: 70px;
}

.bootcamp-zenius p {
  padding-right: 15px;
  color: #1e1e1e;
}

.boot-detail-zenius {
  text-align: justify;
  padding-left: 6.5px;
  color: #1e1e1e;
  width: 437px;
}

.binar {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 32px;
  padding-left: 180px;
}

.bootcamp-binar img {
  max-width: 168px;
  max-height: 70px;
}

.bootcamp-binar p {
  padding-right: 15px;
  color: #1e1e1e;
}

.boot-detail-binar {
  text-align: justify;
  padding-left: 38.5px;
  color: #1e1e1e;
  width: 468px;
}
/* Bootcamp */

/* Contact */

.contact-container {
  display: flex;
  padding-top: 40px;
  width: 1Hz;
  height: 530px;
  padding-bottom: 50px;

  background-color: #1e1e1e;
}

.contact-sosmed h3 {
  color: #ffffff;
}

.contact-desc {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  width: 440px;
  text-align: justify;
}

.contact-sosmed h3 {
  font-size: 40px;
  padding-top: 10px;
}

.contact-sosmed {
  padding-top: 60px;
  padding-left: 150px;
}

.sosmed {
  padding-top: 10px;
}

.sosmed a {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.whatsapp,
.instagram,
.linkedin {
  padding-bottom: 20px;
  display: flex;
  gap: 15px;
}

.icon {
  color: white;
  text-decoration: none;
}

.whatsapp a:hover {
  color: #558240;
  transition: all;
  transition-duration: 300ms;
}

.instagram a:hover {
  color: #558240;
  transition: all;
  transition-duration: 300ms;
}

.linkedin a:hover {
  color: #558240;
  transition: all;
  transition-duration: 300ms;
}

.contact-form {
  padding-top: 20px;
  padding-left: 250px;
}

.contact-form img {
  width: 400px;
}

/* Contact */

/* body */

/* Footer */
footer {
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.footer p {
  display: flex;
  color: #ffffffc8;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
/* Footer */
